In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [7]:
df = pd.read_csv("vendas_loja_seminovos.csv", sep= ';')
df

,ID,Nome Completo,Idade,CPF,Sexo,Estado Civil,E-mail,Telefone,Cidade,Estado,Marca,Modelo,Ano_fabricacao,Cor,Valor_venda,Data_venda,Forma_pagamento
0,1,Luigi Silva,53,910.623.485-24,Masculino,Viúvo,monteirovalentim@example.org,+55 21 0592 1284,Azevedo de da Rosa,SP,Toyota,Yaris,2021,Cinza,80028.52,2017-08-31,À vista
1,2,Ester da Rocha,63,235.408.196-06,Feminino,Solteiro,santoshenry@example.net,(084) 2407 2800,Costela,PR,Hyundai,HB20S,2016,Cinza,103668.13,2022-01-01,Consórcio
2,3,Maria Luiza Nogueira,25,174.950.328-04,Feminino,Solteiro,zgoncalves@example.net,+55 81 2567 8847,Sá Alegre,MG,Ford,Ecosport,2017,Preto,229867.69,2018-02-17,À vista
3,4,Renan Novaes,19,245.367.890-65,Masculino,Casado,oliver50@example.com,+55 (021) 0411 4291,Guerra,MA,Honda,Fit,2020,Cinza,105843.27,2024-02-03,Financiamento
4,5,Manuela Novais,40,371.269.084-31,Feminino,Casado,tpinto@example.org,(011) 8890 3785,Castro de Minas,PI,Ford,Ka,2022,Cinza,66929.84,2019-06-29,Financiamento
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10945,10946,Sabrina Ramos,34,512.487.603-44,Feminino,Viúvo,abreudavi@example.net,+55 84 6688-9875,Mendonça da Praia,TO,Peugeot,208,2023,Prata,231302.02,2019-01-07,Financiamento
10946,10947,Luiz Otávio Nunes,69,285.794.036-00,Masculino,Viúvo,correiakevin@example.com,+55 (051) 1726 9910,Machado da Prata,PB,Peugeot,208,2017,Cinza,232535.91,2024-10-06,Consórcio
10947,10948,Maria Luísa da Cunha,20,023.975.418-23,Feminino,Viúvo,barbara32@example.net,+55 51 2113 8163,da Rocha do Amparo,AC,Toyota,Yaris,2015,Branco,224157.58,2021-09-22,À vista
10948,10949,Luiz Fernando Montenegro,21,523.084.671-26,Masculino,Casado,saalice@example.org,(084) 1867 7044,Castro,RR,Ford,Focus,2023,Preto,76003.85,2018-01-05,Financiamento
10949,10950,Vicente Barros,38,834.269.071-78,Masculino,Viúvo,pedro-henrique29@example.com,61 0724-9609,Martins,PI,Ford,Focus,2013,Prata,115763.45,2017-06-05,À vista

In [14]:
df_dados = df[['Idade', 'Estado Civil', 'Cidade', 'Estado', 'Marca', 'Modelo', 'Ano_fabricacao', 'Cor', 'Valor_venda', 'Data_venda', 'Forma_pagamento' ]]
df_dados['Data_venda'] = pd.to_datetime(df['Data_venda'])
df_dados['ano_venda'] = df_dados['Data_venda'].dt.year
df_dados

C:\Users\36134552025.2\AppData\Local\Temp\ipykernel_32736\700997940.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dados['Data_venda'] = pd.to_datetime(df['Data_venda'])
C:\Users\36134552025.2\AppData\Local\Temp\ipykernel_32736\700997940.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dados['ano_venda'] = df_dados['Data_venda'].dt.year

,Idade,Estado Civil,Cidade,Estado,Marca,Modelo,Ano_fabricacao,Cor,Valor_venda,Data_venda,Forma_pagamento,ano_venda
0,53,Viúvo,Azevedo de da Rosa,SP,Toyota,Yaris,2021,Cinza,80028.52,2017-08-31,À vista,2017
1,63,Solteiro,Costela,PR,Hyundai,HB20S,2016,Cinza,103668.13,2022-01-01,Consórcio,2022
2,25,Solteiro,Sá Alegre,MG,Ford,Ecosport,2017,Preto,229867.69,2018-02-17,À vista,2018
3,19,Casado,Guerra,MA,Honda,Fit,2020,Cinza,105843.27,2024-02-03,Financiamento,2024
4,40,Casado,Castro de Minas,PI,Ford,Ka,2022,Cinza,66929.84,2019-06-29,Financiamento,2019
...,...,...,...,...,...,...,...,...,...,...,...,...
10945,34,Viúvo,Mendonça da Praia,TO,Peugeot,208,2023,Prata,231302.02,2019-01-07,Financiamento,2019
10946,69,Viúvo,Machado da Prata,PB,Peugeot,208,2017,Cinza,232535.91,2024-10-06,Consórcio,2024
10947,20,Viúvo,da Rocha do Amparo,AC,Toyota,Yaris,2015,Branco,224157.58,2021-09-22,À vista,2021
10948,21,Casado,Castro,RR,Ford,Focus,2023,Preto,76003.85,2018-01-05,Financiamento,2018
10949,38,Viúvo,Martins,PI,Ford,Focus,2013,Prata,115763.45,2017-06-05,À vista,2017

In [22]:
df_ano = df_dados.groupby(['Modelo']).size().reset_index(name= 'Vendidos')
df_ano

              Modelo  Vendidos
0               2008       341
1                208       316
2               3008       346
3                308       325
4               500e       124
5           Aircross       100
6             Amarok       138
7               Argo        91
8             Basalt        83
9                 C3        98
10                C4       100
11  C4 Grand Picasso       120
12              CR-V       312
13             Camry       365
14          Cherokee        21
15              City       287
16             Civic       303
17           Compass        16
18           Corolla       390
19     Corolla Cross       362
20             Creta       158
21            Cronos        94
22             Cruze        54
23          Ecosport       304
24             Etios       354
25          Fastback       107
26           Fiorino        97
27               Fit       326
28             Focus       335
29               Gol       143
30              HB20       159
31             HB20S       183
32              HR-V       292
33             Hilux       362
34                Ka       328
35          Ka Sedan       321
36              Mobi       104
37             Nivus       158
38              Onix        48
39           Partner       338
40              Polo       135
41            Prisma        49
42             Pulse       103
43            Ranger       300
44          Renegade        24
45              S-10        56
46           Saveiro       134
47            Strada        95
48           T-Cross       138
49         Territory       325
50              Toro        91
51           Tracker        56
52       TrailBlazer        48
53            Tucson       140
54                Up       120
55            Virtus       141
56            Voyage       130
57          Wrangler        17
58             Yaris       345